################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StockTackerNew/v17/.wsuo
/.vs/StockTackerNew/v17/DocumentLayout.json
